version: '3.8'

services:
  mysql-db:
    image: mysql:8.0
    container_name: nlinfoDB-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: strongrootpassword
      MYSQL_DATABASE: nlinfoDB
    ports:
    - "3307:3306"
    cap_add:
      - SYS_NICE
